public static void QuickSort(int[] input, int low, int high)
{
  int pivotIdx = 0;

  if (low < high)
  {
    pivotIdx = Partition(input, low, high);
    
    QuickSort(input, low, pivotIdx - 1);
    QuickSort(input, pivotIdx + 1, high);
  }
}

public static int Partition(int[] input, int low, int high)
{
  int pivot = input[high];
  int i = low - 1;

  for (int j = low; j < high; j++)
  {
    if (input[j] <= pivot)
    {
      i++;
      Swap(input, i, j);
    }
  }

  Swap(input, i + 1, high);

  return i + 1;
}

public static void Swap(int[] ar, int a, int b)
{
  var temp = ar[a];
  ar[a] = ar[b];
  ar[b] = temp;
}